configs/VSCodium/*
.gsd-keyboard.settings-ported
configs/fish/fish_variables
configs/okularrc
configs/kdeglobals
configs/kdenliverc
configs/okularpartrc
configs/mimeapps.list
configs/QtProject.conf
configs/pavucontrol.ini
configs/kdenlive-layoutsrc
configs/go/
configs/mpv/
configs/vlc/
configs/GIMP/
configs/Slack/
configs/nomacs/
configs/rncbc.org/
configs/kdeconnect/
configs/eiskaltdc++/
